@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937; /* thumb color | track color */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* bg-gray-900 */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* bg-gray-600 */
    border-radius: 9999px;
    border: 2px solid #1f2937; /* padding with track color */
  }
}
